<suite name = "Category banners">
    <test name = "Check category banners with colorscheme settings">
        <classes>
            <!--Тест-кейсы для баннеров типа "Изображения"
            <class name = "image.BannerType_Image_Var1Test" />
            <class name = "image.BannerType_Image_Var2Test" />
            <class name = "image.BannerType_Image_Var3Test" /> -->

            <!--Тест-кейсы для баннеров Блога -->
            <class name = "blog.BannerType_Block__Blog_TextLinks_NoWrapper__Var1Test" />
            <class name = "blog.BannerType_Block__Blog_TextLinks_NoWrapper__Var2Test" />
            <class name = "blog.BannerType_Block__Blog_TextLinks_MainBlockSeo__Var2Test" />
            <class name = "blog.BannerType_Block__Blog_TextLinks_MainBlockSeo__Var3Test" />
            <class name = "blog.BannerType_Block__Blog_TextLinks_SimplifiedBlock__Var1Test" />
            <class name = "blog.BannerType_Block__Blog_TextLinks_SecondaryBlock__Var2Test" />
            <class name = "blog.BannerType_Block__Blog_TextLinks_SecondaryFramedBlock__Var3Test" />
            <class name = "blog.Blog_ABBlogRecentPosts_RecentPostsScroller_NoWrapper__Var1Test" />
            <class name = "blog.Blog_ABBlogRecentPosts_RecentPostsScroller_NoWrapper__Var3Test" />
            <class name = "blog.Blog_ABBlogRecentPosts_RecentPostsScroller_MainBlockSeo__Var2Test" />
            <class name = "blog.Blog_ABBlogRecentPosts_RecentPostsScroller_SimplifiedBlock__Var1Test" />
            <class name = "blog.Blog_ABBlogRecentPosts_RecentPostsScroller_SecondaryBlock__Var2Test" />
            <class name = "blog.Blog_ABBlogRecentPosts_RecentPostsScroller_SecondaryFramedBlock__Var3Test" />
            <class name = "blog.Blog_ABBlogRecentPosts_RecentPosts_NoWrapper__Var1Test" />
            <class name = "blog.Blog_ABBlogRecentPosts_RecentPosts_MainBlockSeo__Var2Test" />
            <class name = "blog.Blog_ABBlogRecentPosts_RecentPosts_SimplifiedBlock__Var3Test" />
            <class name = "blog.Blog_ABBlogRecentPosts_RecentPosts_SecondaryBlock__Var1Test" />
            <class name = "blog.Blog_ABBlogRecentPosts_RecentPosts_SecondaryFramedBlock__Var2Test" />21
        </classes>
    </test>
</suite>